<div class="row ">
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-5 col-xl-5" id="img-div">
        <img src={{person.profileImgUrl}}
            class="image-fluid" id="profile_pic" alt="profile_pic">
    </div>
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-7 col-xl-7" id="subject">
        <h1 id="name"> {{person.name}} {{person.lastname}} </h1>
        <h3>Full Stack Developer Jr.</h3>
    </div>
    <div class="row">
        <div class="col-12" id="about">
            <h3>Acerca de mí</h3>
            <hr>
            <p>{{person.about}}
            </p>
            <hr>
        </div>
    </div>
</div>