.row {
    background-color: #363636;
    margin: 1em;
    border-radius: 1em;
    width: fit-content;
    height: auto;
}
#img-div{
    display: flex;
    justify-content:space-around;
}
#profile_pic {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: -10%;
    box-shadow: 5px 5px 10px rgb(73, 73, 73);
    position: relative;
    z-index: 2;
}

#subject {
    text-shadow: 3px 3px rgb(73, 73, 73);
    text-align: right;
    top: 50px;
    right: 5%;
    position: relative;
    z-index: 2;
}

#about {
    text-align: justify;
}