.row {
    background-color: #352f2f;
    margin: 1em;
    border-radius: 1em;
    width: fit-content;
    height: auto;
}

#profile_pic {
    align-items: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    top: -15%;
    left: 20%;
    position: relative;
    z-index: 2;
}

#subject {
    text-shadow: 3px 3px 3px rgb(73, 73, 73);
    text-align: right;
    right: 5%;
    position: relative;
    z-index: 2;
    vertical-align: baseline;
}

#about {
    text-align: justify;
}