<div class="row">
    <div class="col-xm-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
            class="image-fluid" id="profile_pic" alt="profile_pic">
    </div>
    <div class="col-xm-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="subject">
        <h1>Joaquín Pérez Campos</h1>
        <h3>Full Stack Developer Jr.</h3>
    </div>
    <div class="row">
        <div class="col-12" id="about">
            <h3>Acerca de mí</h3>
            <hr>
            <p>Soy Joaquín, padre, esposo, comunicador, emprendedor y Full Stack Developer Jr. Tengo 32 años, nací y
                vivo en Paraná, Entre Ríos, Argentina.<br>
                Me gusta trabajar en la técnica de radio y de eventos culturales-artísticos, tocar la batería,
                dibujar, tener cuadernos, cocinar para amigos y familia, viajar, caminar, nadar.<br>
                Me acerqué al mundo del desarrollo web, a través de Argentina Programa, en búsqueda de nuevos horizontes
                laborales y en el transcurso descubrí que me apasiona poder crear a través de la programación y que
                siento mucha curiosidad por seguir investigando y aprendiendo.
            </p>
            <hr>
        </div>
    </div>
</div>