<div class="row">
    <h3>Educación</h3>
    <hr>
    <button type="button" class="btn btn-outline-light" routerLink="/newEd" *ngIf="isLogged">Agregar nueva
        educación</button>
    <div *ngFor="let Education of ed" class="row">
        <div class="text-center col-xm-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <img src={{Education.edImgUrl}} alt="expImg">
        </div>
        <div class="col-xm-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
            <ul>
                <li>
                    <h5>{{Education.edName}}</h5>
                    <hr>
                    <p>{{Education.edDescription}}</p>
                </li>
            </ul>
        </div>
        <aside>
            <button type="button" class="btn btn-outline-light" routerLink="/update/{{Education.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-light" (click)="delete(Education.id)" *ngIf="isLogged"><i class="bi bi-trash3"></i></button>
        </aside>
    </div>
</div>