<section *ngIf="proyect ">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2 text-uppercase">Editar proyecto</h2>
                            <p class="text-white-50 mb-5">Complete los siguientes campos</p>
                            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                                <div class="form-outline form-white mb-4">
                                    <label for="pName">Nombre del proyecto</label>
                                    <input type="text" class="form-control form-control-lg" id="pName" name="pName"
                                        [(ngModel)]="proyect.pName" required>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="pDescription">Descripción</label>
                                    <textarea type="text" class="form-control form-control-lg" id="pDescription"
                                        name="pDescription" [(ngModel)]="proyect.pDescription" required>
                                    </textarea>
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="pImg1Url">Url de la imagen 1 para el carousel</label>
                                    <input type="text" class="form-control form-control-lg" id="pImg1Url"
                                        name="pImg1Url" [(ngModel)]="proyect.pImg1Url">
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="pImg2Url">Url de la imagen 2 para el carousel</label>
                                    <input type="text" class="form-control form-control-lg" id="pImg2Url"
                                        name="pImg2Url" [(ngModel)]="proyect.pImg2Url">
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="pImg3Url">Url de la imagen 1 para el carousel</label>
                                    <input type="text" class="form-control form-control-lg" id="pImg3Url"
                                        name="pImg3Url" [(ngModel)]="proyect.pImg3Url">
                                </div>
                                <div class="form-outline form-white mb-4">
                                    <label for="pImg4Url">Url de la imagen 1 para el carousel</label>
                                    <input type="text" class="form-control form-control-lg" id="pImg4Url"
                                        name="pImg4Url" [(ngModel)]="proyect.pImg4Url">
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Actualizar estudio</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>