<div class="row">
  <h3>Hard & Soft Skills</h3>
  <hr>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'HTML'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'CSS'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'TypeScript'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'JavaScript'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="75" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Java'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Bootstrap'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'AngularJS'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="80" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'GitHub'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <hr>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="95" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Inglés'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Trabajo en equipo'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="95" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Comunicación'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Adaptación'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Proactividad'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="100" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Curiosidad'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="100" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Empatía'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress [percent]="90" [radius]="80" [outerStrokeWidth]="16" [innerStrokeWidth]="1"
      [outerStrokeColor]="'#644b34'" [outerStrokeGradient]="true" [outerStrokeGradientStopColor]="'#bb9562'"
      [innerStrokeColor]="'#Ffa942'" [animation]="true" [animationDuration]="1000" [title]="'Colaboración'"
      [titleFontSize]="'large'" [titleColor]="'#fcfaf1'" [showUnits]="false" [showSubtitle]="false"></circle-progress>
  </div>
</div>