<div class="row">
  <h3>Hard & Soft Skills</h3>
  <hr>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="80" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'HTML'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="80" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'CSS'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="70" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'Bootstrap'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="60" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'JavaScript'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="60" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'TypeScript'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="80" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'Angular'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="60" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'Apache NetBeans'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
  <div class="col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
    <circle-progress 
    [percent]="70" 
    [radius]="100" 
    [outerStrokeWidth]="16" 
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'" 
    [innerStrokeColor]="'#C7E596'" 
    [animation]="true"
    [animationDuration]="1000"
    [subtitle]="'Java'"
    [subtitleFontSize]="'large'"
    ></circle-progress>
  </div>
</div>