<div class="row">
  <h3>Hard & Soft Skills</h3>
  <hr>
  <button type="button" class="btn btn-outline-light" routerLink="/newSkill" *ngIf="isLogged">Agregar nueva
    habilidad</button>
  <div class="text-center col-xm-6 col-sm-6 col-md-4 col-lg-3 col-xl-3" *ngFor="let skill of skill">
    <circle-progress 
      [percent]="(skill.percent)" 
      [radius]="80" 
      [outerStrokeWidth]="16" 
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#bb9562'" 
      [outerStrokeGradient]="true" 
      [outerStrokeGradientStopColor]="'#644b32'"
      [innerStrokeColor]="'#Ffa942'" 
      [animation]="true" 
      [animationDuration]="1000" 
      [title]="(skill.hsName)"
      [titleFontSize]="'large'" 
      [titleColor]="'#fcfaf1'" 
      [showUnits]="false" 
      [showSubtitle]="false">
    </circle-progress>
    <button type="button" class="btn btn-outline-light" routerLink="/skillUpdate/{{skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
    <button type="button" class="btn btn-outline-light" (click)="delete(skill.id)" *ngIf="isLogged"><i class="bi bi-trash3"></i></button>
  </div>
</div>