.row{
    background-color: #363636;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    text-align: justify;
    width: fit-content;
}


img{
    width:auto;
    height:5em;
    margin-top: 1em;
    border-radius: 50%;
}
