<div class="row">
    <h3>Experiencia Laboral</h3>
    <hr>
    <button type="button" class="btn btn-outline-light" routerLink="/newExp" *ngIf="isLogged">Agregar nueva
        experiencia</button>
    <div *ngFor="let Experience of exp" class="row">
        <div class="text-center col-xm-12 col-sm-12 col-md-1 col-lg-1 col-xl-1">
            <img src={{Experience.expImgUrl}} alt="expImg">
        </div>
        <div class="col-xm-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
            <ul>
                <li>
                    <h5>{{Experience.expName}}</h5>
                    <hr>
                    <p>{{Experience.expDescription}}</p>
                </li>
            </ul>
        </div>
        <aside>
            <button type="button" class="btn btn-outline-light" routerLink="/expUpdate/{{Experience.id}}" *ngIf="isLogged"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-outline-light" (click)="delete(Experience.id)" *ngIf="isLogged"><i class="bi bi-trash3"></i></button>
        </aside>
    </div>
</div>