<div class="row">
    <h3>Experiencia Laboral</h3>
    <hr>
    <div class="col-12">
        <ul>
            <li>
                <h5>Work 1</h5> - <h6>Years</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque, aliquam veritatis
                    consequuntur id accusamus corporis. Repellat minima rem, architecto fuga et deleniti aliquid
                    eveniet, officiis laborum sunt quis eius.</p>
            </li>
            <hr>
            <li>
                <h5>Work 2</h5> - <h6>Years</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque, aliquam veritatis
                    consequuntur id accusamus corporis. Repellat minima rem, architecto fuga et deleniti aliquid
                    eveniet, officiis laborum sunt quis eius.</p>
            </li>
            <hr>
            <li>
                <h5>Work 3</h5> - <h6>Years</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque, aliquam veritatis
                    consequuntur id accusamus corporis. Repellat minima rem, architecto fuga et deleniti aliquid
                    eveniet, officiis laborum sunt quis eius.</p>
            </li>
            <hr>
        </ul>
    </div>
</div>